
address{background-color: rgb(27, 98, 160,08);}

a:link{ color: silver; padding: 25px 25px aqua; display:inline-block }


                                                                                                        
head{
    background-color: rgba(0, 0, 237,05);

}

article{
    
    background-color: rgba(111, 132, 75,05);
    text-align: center;
}
    
h1{
    color:darkgray
    

/*endring på en spesefik paragraf*/
}
#para1{
    border:2px solid goldenrod;
}
/*backround-image:url brukes som å sette ett bilde til bakrunn*/

p{
    background-color: silver;
    border: 2px solid goldenrod;

}
table{ border-collapse: collapse;
    border: solid black 1px;
    align-items: center;
}
tr{
    border-bottom: solid black 1px;}
    th,td{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5;
        padding-bottom: 0.5;
        border:dashed black 1px;}
        table{margin-left: auto;
        margin-right: auto;}
        tbody{background-color: silver;}
        caption{background-color: rgb(237, 195, 89);}

      h2,h3{color: silver; text-align: bold;}

      ol{background-image:url("Bl.jpeg");
    color:white;text-align: bold;}



      
      
      
      
      
      
      
      
      
      
      
      
        /*
    }
    tbody tr:nth-child(odd) {
        background-color:var(--illustarturcolor1) ;
    }
    tbody tr:nth-child(even) {background-color: var(--illustarturcolor2);

    }
    */